.tabPanel {
  visibility: none;
  display: none;
}

.active {
  display: block;
  flex-grow: 1;
}

.tabList {
  display: flex;
  flex-direction: row;
  max-height: 60px;
}

.tabButton {
  flex-grow: 1;
}
