.alert {
    width: fit-content;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    position: absolute;
}

.alert-primary {
    color: #052c65;
    background-color: #cfe2ff;
    border-color: #9ec5fe;
}

.alert-secondary {
    color: #2b2f32;
    background-color: #e2e3e5;
    border-color: #c4c8cb;
}

.alert-danger {
    color: #58151c;
    background-color: #f8d7da;
    border-color: #f1aeb5;
}

.alert-success {
    color: #0a3622;
    background-color: #d1e7dd;
    border-color: #a3cfbb;
}

.alert-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffe69c;
}

.alert-info {
    color: #055160;
    background-color: #cff4fc;
    border-color: #9eeaf9;
}

.vertical-top {
    top: 5%;
}

.vertical-middle {
    top: 50%;
    transform: translateY(-50%);
}

.vertical-bottom {
    bottom: 5%;
}

.horizontal-start {
    left: 5%;
}

.horizontal-center {
    left: 50%;
    transform: translateX(-50%);
}

.horizontal-end {
    right: 5%;
}